.vscode
build/
performance-cases/
Student/test/
a.out
**/build/*
active_var.out
find_loop.out
*_copy.*
calc_time.py
IRBuilder_backup.cpp
*_copy.*
calc_time.py
IRBuilder_backup.cpp
performance-cases/
calc_time.py
find_loop.out
*.s